<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.louiemain.mobileplayer">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".acitivty.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".acitivty.MainActivity"
                  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <!-- 解决横竖屏切换导致生命周期销毁后重建bug -->
        <activity android:name=".acitivty.SystemVideoPlayer"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"
                  android:configChanges="keyboardHidden|screenSize|orientation"
                >
            <!-- 当满足以下条件时被系统调起 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="rtsp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="application/sdp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
    </application>
</manifest>